*{  
    background-color: gray;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.hero{
   font-size: 20px;
    padding-left: 10px;

}
.tag1{
    padding-top: 45px;
    color: red;
    font-size: 35px;
}
.code{
  padding-right: 30%;
  padding-top: 5%;
}
.tag2{
  color: red;
  padding-top: 50%;
  font-size: 35px;
}
.email{
  color: blue;
}